:root{
    --color-btn-principal: transparent;
    --color-btn-principal-letra: #222;
    --color-btn-principal-hover: transparent;
    --color-btn-principal-hover-letra: rgba(0, 0, 0, 0.365);
    --color-btn-principal-active: transition;
    --color-btn-principal-active-letra: rgba(0, 0, 0, 0.365);
    --color-fondo-navbar: #f6f6f6;
    --color-btn-principal-letra: #222222de;
    --color-focus-input: #1987543c;
    --color-letra-input: #198754b5;
    --color-form-fondo: rgba(255, 255, 255, 0.647);
    --color-textos-fondo: #198754;
}