body{
    background-color: var(--color-fondo-navbar);
    overflow-x: hidden !important;
    height: max-content;
}
.contenido{
    display: flex; 
    flex-direction: column;
    height: max-content !important;
}