<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='User/js/bootstrap.bundle.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='User/css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='User/js/bootstrap.bundle.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='User/css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='User/css/personal/rangohonor.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='User/img/logo.png') }}" type="image/x-icon">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='User/css/personal/personal.css') }}">
    <title>HGW</title>
</head>
<body>
    <script>
        const userRol = "{{ user.rol if user else 3 }}";
        const userProfilePictureUrl = "{{ url_for('static', filename=user.url_foto_perfil) if user.url_foto_perfil else null }}";
    </script>
    <script type="module" src="{{ url_for('static', filename='User/js/fijos.js') }}"></script>

    <main class="contenido">
        <div class="conten-item">
            <div class="perfil">
                <div class="img-perfil">
                    {% if user.url_foto_perfil %}
                        <img src="{{ url_for('static', filename=user.url_foto_perfil) }}" alt="Foto de perfil">
                    {% else %}
                        <i class='bx bx-user'></i>
                    {% endif %}
                </div>
                <div class="info-perfil">
                    <h3>{{ user.nombre_usuario }}</h3>
                    <div class="membresias">
                        <details>
                            <summary>Membresia {{user.nombre_membresia}}</summary>
                            <table class=" table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">Membresia</th>
                                        <th scope="col">BV</th>
                                        <th scope="col">Costo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>PREJUNIOR</td>
                                        <td>50</td>
                                        <td>400.000</td>
                                    </tr>
                                    <tr>
                                        <td>JUNIOR</td>
                                        <td>100</td>
                                        <td>800.000</td>
                                    </tr>
                                    <tr>
                                        <td>SENIOR</td>
                                        <td>300</td>
                                        <td>2.400.000</td>
                                    </tr>
                                    <tr>
                                        <td>MASTER</td>
                                        <td>600</td>
                                        <td>4.800.000</td>
                                    </tr>
                                </tbody>
                            </table>
                        </details>
                    </div>
                </div>
            </div>
        </div>
        <div class="conten-item">
            <div class="nivel-menbresia">
                <h2>Nivel de Membresia</h2>
                <div class="niveles">
                    <p class="nivel">Cliente</p>
                    <p class="nivel">PRE JUNIOR</p>
                    <p class="nivel">JUNIOR</p>
                    <p class="nivel">SENIOR</p>
                    <p class="nivel">MASTER</p>
                </div>
                <div class="barra">
                    <div class="progreso"></div>
                </div>
            </div>
        </div>
        <div class="conten-item">
            <div class="administrar-pedidos">
                <h2>Administracion de Pedidos</h2>
                <div class="botones-pedidos">
                    <div class="boton-item">
                        <a href="{{ url_for('admin_pedidos_bp.mostrar_adminpedidos') }}">
                            <div class="a-content">
                                <i class='bx bx-envelope-open'></i>
                                Todo
                            </div>
                        </a>
                    </div>
                    <div class="boton-item">
                        <a href="{{ url_for('admin_pedidos_bp.mostrar_adminpedidos') }}">
                            <div class="a-content">
                                <i class='bx bx-envelope-open'></i>
                                Reservado
                            </div>
                        </a>
                    </div>
                    <div class="boton-item">
                        <a href="{{ url_for('segpedidos_bp.mostrar_segpedidos') }}">
                            <div class="a-content">
                                <i class='bx bxs-truck'></i>
                                seguimiento de pedidos 
                            </div>
                        </a>
                    </div>
                    <div class="boton-item">
                        <a href="{{ url_for('admin_pedidos_bp.mostrar_adminpedidos') }}">
                            <div class="a-content">
                                <i class='bx bx-send' ></i>
                                pendiente de envio
                            </div>
                        </a>
                    </div>
                    <div class="boton-item">
                        <a href="{{ url_for('admin_pedidos_bp.mostrar_adminpedidos') }}">
                            <div class="a-content">
                                <i class='bx bx-send' ></i>
                                enviado
                            </div>
                        </a>
                    </div>
                    <div class="boton-item">
                        <a href="{{ url_for('admin_pedidos_bp.mostrar_adminpedidos') }}"></a>
                            <div class="a-content">
                                <i class='bx bx-check-circle'></i>
                                completado
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="conten-item">
            <div class="info">
                <h2>Informacion</h2>
                <div class="info-content">
                    <div class="info-personal">
                        <div class="dato">
                            <a href="/Informacion-Personal">
                                <div class="dato-item">
                                    <i class='bx bx-user-circle'></i>
                                    informacion personal
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="info-financiera">
                        <div class="dato">
                            <a href="#">
                                <div class="dato-item">
                                    <i class='bx bx-credit-card'></i>
                                    informacion financiera
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="rango-honor">
                        <div class="dato">
                            <a href="/usuario/personal/rangohonor.html">
                                <div class="dato-item">
                                    <i class='bx bx-trophy' ></i>
                                    rango honor
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="conten-item">
            <div class="info">
                <h2>Administracion financiera</h2>
                <div class="info-content">
                    <div class="info-personal">
                        <div class="dato">
                            <a href="{{ url_for('transferencias_bp.mostrar_transferencias') }}">
                                <div class="dato-item">
                                    <i class='bx bx-user-circle'></i>
                                    Transferencias
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="info-financiera">
                        <div class="dato">
                            <a href="{{ url_for('retiros_bp.mostrar_retiros') }}">
                                <div class="dato-item">
                                    <i class='bx bx-credit-card'></i>
                                    retiros
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="info-financiera">
                        <div class="dato">
                            <a href="#">
                                <div class="dato-item">
                                    <i class='bx bx-credit-card'></i>
                                    historial financiero
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div><div class="conten-item">
            <div class="info">
                <h2>Mi red</h2>
                <div class="info-content">
                    <div class="info-personal">
                        <div class="dato">
                            <a href="#">
                                <div class="dato-item">
                                    <i class='bx bxs-user-badge'></i>
                                    Consulta venta personal de la red
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="info-financiera">
                        <div class="dato">
                            <a href="/usuario/personal/arbol.html">
                                <div class="dato-item">
                                    <i class='bx bxs-user-plus'></i>
                                    Genealogia
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="rango-honor">
                        <div class="dato">
                            <a href="#">
                                <div class="dato-item">
                                    <i class='bx bxs-user-account'></i>
                                    Lineas Directas
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="conten-item">
            <div class="ayuda">
                <h2>Ayuda</h2>
                <div class="ayuda-content">
                    <div class="ayuda-item">
                        <a href="#">
                            <div class="a-content">
                                <i class='bx bx-info-circle'></i>
                                Ayuda general
                            </div>
                        </a>
                    </div>
                    <div class="ayuda-item">
                        <a href="#">
                            <div class="a-content">
                                <i class='bx bx-help-circle'></i>
                                Preguntas frecuentes
                            </div>
                        </a>
                    </div>
                    <div class="ayuda-item">
                        <a href="#">
                            <div class="a-content">
                                <i class='bx bx-phone'></i>
                                Servicio al Cliente
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="{{ url_for('static', filename='User/js/personal/niveles.js') }}"></script>
    <script>
        const membresia = parseInt("{{ user.id_membresia }}");
        cambiarCantidad(membresia);
    </script>
    
</body>
</html>