<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='User/css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='User/js/bootstrap.bundle.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='User/css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='User/css/personal/personal.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='User/css/personal/seg.pedidos.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='User/img/logo.png') }}" type="image/x-icon">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <script>
        const cantidadProductosCarrito = "{{ user.total_carrito}}";
        const userRol = "{{ user.rol if user else 3 }}";
        const userProfilePictureUrl = "{{ url_for('static', filename=user.url_foto_perfil) if user.url_foto_perfil else null }}";
    </script>
    <script type="module" src="{{ url_for('static', filename='User/js/fijos.js') }}"></script>
    
    <div class="container">
        <article class="card">
            <header class="card-header">Mis pedidos / Seguimiento </header>
            <div class="card-body">
                <h6>Order ID: OD45345345435</h6>
                <article class="card">
                    <div class="card-body row">
                        <div class="col"> <strong>Tiempo estimado de entrega:</strong> <br>29 nov 2025 </div>
                        <div class="col"> <strong>Envío por:</strong> <br> Servientrega, | <i class="fa fa-phone"></i> +1598675986 </div>
                        <div class="col"> <strong>Estado:</strong> <br> Recogido por el mensajero </div>
                        <div class="col"> <strong>Número de seguimiento:</strong> <br> BD045903594059 </div>
                    </div>
                </article>
                <div class="track">
                    <div class="step active"> <span class="icon"> <i class='bx bx-check-circle'></i></i> </span> <span class="text">Pedido confirmado</span> </div>
                    <div class="step active"> <span class="icon"> <i class='bx bx-user'></i></i> </span> <span class="text"> Recogido por el mensajero</span> </div>
                    <div class="step"> <span class="icon"><i class='bx bxs-truck'></i></i> </span> <span class="text"> En camino </span> </div>
                    <div class="step"> <span class="icon"> <i class='bx bx-package'></i> </span> <span class="text">Listo para recoger</span> </div>
                </div>
                <hr>
                <ul class="row">
                    <li class="col-md-4">
                        <figure class="itemside mb-3">
                            <div class="aside"><img src="{{ url_for('static', filename='User/hgw/producto 2.png') }}" class="img-sm border"></div>
                            <figcaption class="info align-self-center">
                                <p class="title">Berry Gano Coffee</p> <span class="text-muted">$87,400 </span>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="col-md-4">
                        <figure class="itemside mb-3">
                            <div class="aside"><img src="{{ url_for('static', filename='User/hgw/producto .png') }}" class="img-sm border"></div>
                            <figcaption class="info align-self-center">
                                <p class="title">collar turmalina</p> <span class="text-muted">$152.000 </span>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="col-md-4">
                        <figure class="itemside mb-3">
                            <div class="aside"><img src="/img/hgw/producto 4.png" class="img-sm border"></div>
                            <figcaption class="info align-self-center">
                                <p class="title">smart watch (black)</p> <span class="text-muted">$361.000 </span>
                            </figcaption>
                        </figure>
                    </li>
                </ul>
                <hr>
                <a href="{{ url_for('static', filename='User/hgw/producto 2.png') }}" class="btn btn-warning" data-abc="true"> <i class="fa fa-chevron-left"></i>volver a pedidos</a>
            </div>
        </article>
    </div>
</body>
</html>