:root {
    --fondo: #eee;
    --header: linear-gradient(90deg, #acd4c0, #1f5f39);
    --footer: linear-gradient(90deg, rgba(11, 37, 48, 0.804) 0%, rgba(31, 95, 91, 0.751) 50%, rgba(73, 178, 101, 1) 100%);
    --blanco: #eee;
    --botones: #03624c;
    --enlaces: #2cc295;
    --negro: #333;
    --login-fondo: radial-gradient(circle, #76ccb1 0%, #555 100%);
    --sombra: #0000001a;
    --sombra-dura: #0000004d;
    --transicion: 0.3s;
    --animacion-duracion: 0.6s;
}

body {
    background-color: var(--fondo);
}

.sidebar {
    background-color: var(--enlaces);
    color: var(--blanco);
    padding: 20px;
}

.sidebar-link {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    padding: 12px;
    margin-bottom: 10px;
    color: var(--blanco);
    display: block;
    text-decoration: none;
}

.sidebar-link.active {
    background-color: var(--blanco);
    color: var(--enlaces);
}

.form-container {
    padding: 30px;
    background-color: var(--blanco);
    border-radius: 10px;
    box-shadow: 0 0 15px var(--sombra);
}

.btn-primary {
    background-color: var(--botones);
    border-color: var(--botones);
    color: var(--blanco);
}

.btn-secondary {
    background-color: var(--botones);
    border-color: var(--botones);
    color: var(--blanco);
}

.btn-primary:hover,
.btn-secondary:hover {
    background-color: #004d40;
    border-color: #004d40;
}

.profile-pic-container {
    width: 150px;
    height: 150px;
    margin: 0 auto 20px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid var(--enlaces);
}

.profile-pic-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-pic-section {
    background-color: var(--blanco);
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 0 15px var(--sombra);
}

.step-container {
    display: none;
}

.step-container.active {
    display: block;
}
